tensorflow
dscript
dgl
pysmiles
deepchem
paccmann_predictor @ git+https://git@github.com/PaccMann/paccmann_predictor#egg=paccmann-predictor
modlamp
torchtext # ==0.3.1 # old version of tokenizer - need to replace with another tokenizer and remove this
biopython
x_transformers
