[flake8]
max-line-length = 120

# Errors to ignore   - TODO: Double check
ignore =
    # Line too long
    E501,
    # whitespace before ','
    E203,
    # block comment should start with ‘# ‘
    E265,
    # too many leading ‘#’ for block comment
    E266,
    # do not use bare 'except'  <- Consider fix and delete ignore
    E722
    # do not use variables named ‘l’, ‘O’, or ‘I’
    E741,
    # do not assign a lambda expression, use a def
    E731
    # line break before binary operator
    W503,
    # invalid escape sequence '\s'
    W605
    # '<X>' may be undefined, or defined from star imports: <Y>
    F405

# Files to exclude:
exclude =
    ## all __init__.py files
    __init__.py

    ## fusedrug/
    ./fusedrug/data/interaction/drug_target/datasets/dti_binding_dataset.py
    ./fusedrug/data/interaction/drug_target/datasets/pytoda_style_target_affinity_dataset.py
    ./fusedrug/data/interaction/drug_target/datasets/tests/test_dti_binding_dataset.py
    ./fusedrug/data/interaction/drug_target/datasets/tests/test_fuse_style_dti_dataset.py
    ./fusedrug/data/interaction/drug_target/loaders/dti_binding_dataset_loader.py
    ./fusedrug/data/interaction/drug_target/loaders/pytoda_style_target_affinity_loader.py
    ./fusedrug/data/molecule/ops/augment.py
    ./fusedrug/data/molecule/ops/loaders/smi_loader.py
    ./fusedrug/data/molecule/ops/pytoda_chem_ops.py
    ./fusedrug/data/molecule/ops/smiles_ops.py
    ./fusedrug/data/molecule/smi_character_histogram.py
    ./fusedrug/data/molecule/smi_sanitizer.py
    ./fusedrug/data/molecule/tokenizer/build_molecule_tokenizer.py
    ./fusedrug/data/molecule/tokenizer/build_molecule_tokenizer_with_predefined_vocab.py
    ./fusedrug/data/molecule/utils/selfies_ops.py
    ./fusedrug/data/ops/attention_ops.py
    ./fusedrug/data/ops/torch_ops.py
    ./fusedrug/data/protein/ops/aa_ops.py
    ./fusedrug/data/protein/ops/augment.py
    ./fusedrug/data/protein/ops/loaders/fasta_loader.py
    ./fusedrug/data/protein/ops/loaders/tests/test_aa_ops.py
    ./fusedrug/data/protein/ops/loaders/tests/test_loaders.py
    ./fusedrug/data/protein/ops/omegafold_plm.py
    ./fusedrug/data/protein/tokenizer/build_protein_tokenizer_pair_encoding.py
    ./fusedrug/data/protein/tokenizer/build_protein_tokenizer_simple.py
    ./fusedrug/data/tokenizer/fast_tokenizer_learn.py
    ./fusedrug/data/tokenizer/ops/fast_tokenizer_ops.py
    ./fusedrug/data/tokenizer/ops/pytoda_tokenizer.py
    ./fusedrug/utils/file_formats/convertors/sdf_to_smi.py
    ./fusedrug/utils/file_formats/ffdata.py
    ./fusedrug/utils/file_formats/indexed_fasta.py
    ./fusedrug/utils/file_formats/indexed_fasta_custom.py
    ./fusedrug/utils/file_formats/indexed_text_file.py
    ./fusedrug/utils/file_formats/indexed_text_table.py
    ./fusedrug/utils/file_formats/sdf_iterable_dataset.py
    ./fusedrug/utils/file_formats/tests/test_indexed_fasta.py
    ./fusedrug/utils/file_formats/tests/test_indexed_fasta_custom.py
    ./fusedrug/utils/file_formats/tests/test_indexed_text_file.py
    ./fusedrug/utils/file_formats/tests/test_indexed_text_table.py
    ./fusedrug/utils/file_formats/tests/test_sdf_iterable_dataset.py
    ./fusedrug/utils/samplers/fast_balanced_sampler.py
    ./fusedrug/utils/samplers/tests/test_fast_balanced_sampler.py
    ./fusedrug/utils/session_manager/session_creator.py
    ./fusedrug/utils/sql/rdf.py
    ./fusedrug/utils/sql/sql.py
    ./fusedrug/utils/sql/sql_db_from_csv.py
    ./fusedrug/utils/sql/tests/test_sql_db_from_csv.py
    ./fusedrug/data/protein/structure/utils.py
    ./fusedrug/data/protein/structure/sabdab.py
    ./fusedrug/data/protein/antibody/antibody.py
    ./fusedrug/data/protein/structure/structure_io.py


    ## fusedrug_examples/
    ./fusedrug_examples/design/amp/classifier/main_classifier_train.py
    ./fusedrug_examples/design/amp/design/main_design_train.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/data.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/metrics.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/plm_dti.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/runner.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/utils.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/bimodal_mca/data.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/bimodal_mca/model.py
    ./fusedrug_examples/interaction/drug_target/affinity_prediction/bimodal_mca/runner.py
    ./fusedrug_examples/tests/test_design_amp.py

    ## tutorials/
    ./tutorials/utils.py

    ## ./
    ./run_all_unit_tests.py
    ./setup.py

    # submodule
    fusedrug_examples/interaction/drug_target/affinity_prediction/PLM_DTI/Contrastive_PLM_DTI
