click
pyfastx
torch>=2.4
pytorch-lightning
torchvision
tokenizers
hydra-core
#grpcio==1.64.1
rdkit
descriptastorus @ git+https://github.com/bp-kelley/descriptastorus
DeepPurpose
PyTDC
psycopg2-binary
sqlalchemy
rdflib
rdflib-sqlalchemy
pandarallel
pg8000
transformers
termcolor
xmlrunner
tiny_openfold @ git+https://github.com/YoelShoshan/tiny_openfold/@main#egg=tiny_openfold
dm-tree
ml_collections
abnumber @ git+https://github.com/prihoda/AbNumber
biopython
# conda install -c bioconda abnumber
pipdeptree
## dummy
