click
pyfastx
torch
pytorch-lightning
tokenizers
hydra-core
rdkit
descriptastorus @ git+https://github.com/bp-kelley/descriptastorus
DeepPurpose
PyTDC
psycopg2-binary
sqlalchemy
rdflib
rdflib-sqlalchemy
pandarallel
pg8000
ipykernel  # dev
jupyter  # dev 
transformers
black==22.3.0  # dev
flake8  # dev
mypy==0.950  # dev
termcolor
xmlrunner
pytoda @ git+https://git@github.com/PaccMann/paccmann_datasets/@0.2.5#egg=pytoda