click
pyfastx
torch
pytorch-lightning<2.0.0 # temp - need to make all tests pass with this version first
torchvision<0.15  # temp
tokenizers
hydra-core
rdkit
descriptastorus @ git+https://github.com/bp-kelley/descriptastorus
DeepPurpose
PyTDC
psycopg2-binary
sqlalchemy
rdflib
rdflib-sqlalchemy
pandarallel
pg8000
transformers
termcolor
xmlrunner
pytoda @ git+https://git@github.com/PaccMann/paccmann_datasets/@0.2.5#egg=pytoda
